name: SEN2SR Tools CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read 

jobs:
  test_sen2sr:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1 libglib2.0-0

      - name: Install Package
        run: |
          python -m pip install --upgrade pip
          # Installs dependencies + dev dependencies (pytest, autopep8)
          pip install .[dev]      
    
      - name: Lint with autopep8
        run: |
          # Check for style issues without fixing them (--diff)
          autopep8 --diff --recursive .
      
      - name: Run Tests
        env:
          PYTHONPATH: .
        run: |
          python -m pytest -vv tests/